<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car 1: 1967 Mustang</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>1967 Ford Mustang</h1>
    <img src="{{ url_for('static', filename='mustang 1967.jpeg') }}" alt="1967 Ford Mustang" style="width:70%;">
    <p>The Ford Mustang is an American icon, with its debut in 1967 marking one of the greatest muscle cars ever built.</p>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>

